html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-weight: normal;
    font-family: 'Inter', serif;
}

.container {
    max-width: 1050px;
    display: grid;
    grid-template-columns: 40% 1fr;
    margin: 20px auto;
    background: #F8F8F8;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: unset;
    }
}

.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.border {
    border: 1px solid #000000;
}

/* section left-side */
.left-side {
    padding: 15px;
    background: #E9E9E9;
}

.my-photo img {
    display: block;
    width: 100%;
}

.education h3 {
    margin-top: 23px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.education span {
    display: block;
    text-align: right;
    line-height: 17px;
    font-weight: 300;
}

.education p {
    line-height: 24px;
    font-weight: 400;
}

.techskills h4, .softskills h4 {
    line-height: 24px;
    font-weight: 700;
}

/* end section left-side */

/* section right-side */
.right-side {
    padding: 35px;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

.header h2 {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 200;
}

.description p {
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
}

.contacts img {
    width: 18px;
    vertical-align: bottom;
    margin-right: 5px;
}

.contacts a {
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    font-size: 12px;
    text-decoration: underline;
    padding-right: 30px;
}

.dosvid h3, .workprof h3 {
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
}

.dosvid ul {
    padding-left: 0;
}

.dosvid ul li {
    list-style: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.workprof ul {
    padding-left: 0;
}

.workprof ul li {
    display: block;
}

.workprof ul span {
    display: block;
    text-align: right;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
}

.workprof ul li p {
    padding: 5px 0;
    margin: 0;
    display: list-item;
}